{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
    {{ macros::head(title="Welcome", css="/index.css") }}
    <body>
        <div id="root">
            <h1>The Empty Spaces Archive</h1>

            <nav>
                <a href="/author">Authors</a>
                <a href="/tags">Tags</a>
            </nav>

            <div id="search">
                <input id="search-input" aria-label="Search" type="text" placeholder="🔍 Search" />
                <input type="button" value="Go" />
            </div>
        </div>
    </body>
</html>
